@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Neonderthaw&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: 'Android';
    src: url(/fontes/idroid.otf) format('opentype');
    font-weight: normal;
}


:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fontePadrao: Arial, Verdana, Helvetica, sans-serif;
    --fonteDestaque: 'Bebas Neue', cursive;
    --fonteAndroid: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: var(--fontePadrao);
    background-color: var(--cor0);
}

main p {
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.2em;


}

main strong {
    color: var(--cor5);
    font-weight: bold;

}

main h1 {
    color: var(--cor3);
    font-family: var(--fonteAndroid);
    padding: 20px;
    font-weight: normal;
}

main h2 {
    color: var(--cor3);
    font-family: var(--fonteAndroid);
    margin: 10px 10px;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    font-weight: normal;
}

header {
    background-image: linear-gradient(rgb(3, 143, 3), rgb(0, 94, 0));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    color: white;
    font-family: var(--fonteDestaque);
    font-size: 3em;
    margin-bottom: 30px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
}

header > p {
    font-family: var(--fontePadrao);
    font-size: 1.2em;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    color: white;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.623);
}

h1 {
    color: white;
    text-align: center;
}

h4 {
    background-color: rgb(48, 218, 113);
}

main {
    background-color: white;
    color: black;
    min-width: 300px;
    max-width: 1000px;
    padding: 20px;
    margin: auto;
    margin-bottom: 30px;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.253);
    border-radius: 0px 10px 0px 10px;
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    margin: auto;
    max-width: 350px;

}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
}

div.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;

}

nav {
    background-color: var(--cor5);
    padding: 5px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.219); 
}

nav > a {
    color: white;
    text-decoration: none;
    margin-right: 5px;
    padding: 6px;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 400ms;
    transition-delay: 10ms;
}

nav > a:hover {
    background-color: white;
    color: var(--cor5);
    padding: 6px;
    margin: 30px;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
}

aside ul {
    list-style-position: inside;
    columns: 2;
}

aside h3 {
    background-color: var(--cor5);
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 10px;
    color: white;
}

footer {
    background-color: var(--cor5);
    color: white;
    font-size: .8em;
    text-align: center;
}
